 
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: darkseagreen;">
    <div class="navbar-brand align-item-center d-flex" href="#">
        <i class="fas fa-shipping-fast">&nbsp;</i>
        <strong>Food-Fast</strong>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
        <ul class="navbar-nav navbarItem">
            <li class="nav-item active">
                <a class="nav-link" routerLink="home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='about-us' href="#">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='faq' href="#">FAQ</a>
            </li>


        </ul>
        <button routerLink="cart" class="btn btn-primary" >
            <i style="font-size: 30px;" class="fas fa-cart-plus">
            <div style="font-size: 10px;" class="badge bg-danger">
                {{totalItem}}
            </div>
            </i>
        </button>

    </div>
</nav>