<!-- 
<div class="homePage">
    <div class="col-md-12">
        <form [formGroup]="homeForm">
         
            <div class="row food-wrapper">
                <div class="col-sm-6 col-md-4 col-lg-3 food-item"
                  *ngFor="let item of mealList"  >
                  <div class="thumbnail">
                    <img [src]="item.strMealThumb"
                      alt="{{item.strMeal}}">
                    <div class="caption">
                      <h3>{{item.strMeal}}</h3>
                      <p>
                        Price {{item.strMeasure1}} 
                      </p>
                      <button class="btn btn-primary"
                        role="button"
                        id={{item.idMeal}}
                        (click)="onCartUpdated($event)"
                        >
                        Add to Cart
                      </button>
                    </div>
                  </div>
                </div>
                
              </div>
              
        </form>
    </div>
</div> -->


<div class="container">
  <div class="searchBox">
    <form >
      <div class="form-inline my-2 my-lg-0">
          <div class="row" style="margin-top: 30px;">
              <div class="col-md-4">
              <input class="form-control mr-sm-2"  [(ngModel)] ="searchText" name = "searchText" type="search" placeholder="serach your food" aria-label="Search">
          </div>
          <div class="col-md-3">
              <button (click)="searchField($event)" class="btn btn-outline-success"  type="submit">Search</button>
          </div>
          <div class="col-md-2  LogoutButton">
            <button (click) = "logout" class="btn btn-outline-success">LOGOUT</button>
          </div>
          </div>
  </div>
  </form>
  </div>
  <div class="row">
      <ng-container *ngFor="let item of mealList">
          <div class="card col-md-3">
            <img [src]="item.strMealThumb"
            alt="{{item.strMeal}}">
              <h5 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">{{item.strMeal}}</h5>
              <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">{{item.strCategory}}</p>
              <p style="white-space: nowrap; overflow: hidden;"><strong>Price:</strong>${{item.strMeasure1}}</p>
              <button class="btn btn-primary" (click)=addtoCart(item)>Add to cart</button>
          </div>
      </ng-container>
     
  </div>
</div>