<div class="loginPageImage">
    <!-- <div class="row">
        <div class="col-md-12">
            <img src="/Pictures/images.jpg" class="img" alt="Responsive image">
        </div>
    </div>
</div> -->
<div class="row">
<div class="card-top container-fluid">
    <div ng-app="myApp" ng-controller="myController" class="card">
        <form [formGroup]="login">
            <div class="item">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">

                            <input type="email" formControlName="email" class="emailInp" placeholder="Enter Email">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">

                            <input type="password" formControlName="pass" class="passInp" placeholder="Enter Password">

                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <button class="btn  pull-right" (click)="loginSubmit(login.value)"
                                [disabled]="login.invalid">Login</button>
                            <button style="background-color:darkgreen; color: white;" class="btn addToCart"
                                (click)="goToSignup()">Signup</button>

                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>
</div>
</div>
