/* You can add global styles to this file, and also import other style files */
.loginPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    padding: 15px 10px;
    background-color:darkgreen ;
    margin-right: 5px;
    color: black;
    font-weight: 600;
}
button:active {
    background-color:darkgreen ;
}
button:disabled {
    background-color: gray;
    opacity: 0.8;
    color: white;
}
.btn-primary{
    background-color: darkgreen; 
    border : 1px solid black;
}
.btn-primary:hover{
    background-color: darkseagreen;
}
.addToCart {
    background-color: darkgreen; 
    border : 1px solid white;
    color: white;
}
.addToCart:hover {
    background-color: darkseagreen;
}
.btn-outline-success {
    padding: 6px 10px;
    background-color:darkgreen ;
    margin-right: 5px;
    color: white;
    font-weight: 400;
}
.btn-outline-success:hover{
    background-color: darkseagreen;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
