/* You can add global styles to this file, and also import other style files */
.loginPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    padding: 15px 10px;
    background-color:deepskyblue ;
    margin-right: 5px;
    color: white;
    font-weight: 600;
}
button:disabled {
    background-color: gray;
    opacity: 0.8;
    color: white;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
